@import "./partials/hero";
@import "./partials/intro";
@import "./partials/fees";
@import "./partials/payment";

body {
  font-family: "Red Hat Display", sans-serif;
  background: hsl(225, 100%, 94%);
}

.card {
  width: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #fff;
}

.attribution {
  display: flex;
  align-items: flex-end;
  height: 95vh;
  justify-content: center;
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(245, 75%, 52%);
  }
}
